*
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes
wp-content/themes!/*
!wp-content/themes/vm
!wp-content/themes/vm/*
!wp-content/themes/vm/*/*
!wp-content/themes/vm/*/*/*
!wp-content/themes/vm/*/*/*/*

wp-content/themes/vm/.DS_Store
wp-content/themes/vm/resources/.DS_Store
wp-content/themes/vm/resources/fonts/Urbanist/.DS_Store
wp-content/themes/vm/resources/fonts/Lora/.DS_Store
