@use '../settings/breakpoints' as breakpoints;
@use '../settings/colors' as color;
@use '../settings/font-sizes' as font-sizes;


.text-media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;

  &__position {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    order: 1;

    .text-media__image {
      object-fit: cover;
      border-radius: 1rem;
      box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.74);
      -webkit-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.74);
      -moz-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.74);
    }
  }

  &__flexible {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;

    &-link {
      width: auto;
      font-size: font-sizes.$main-text-title-size;
      padding: 1.5rem;

      &:nth-child(2n) {
        background-color: color.$logo-color-2;
      }

      &:nth-child(2n+1) {
        background-color: color.$logo-color-1;
      }
    }
  }

  &__links__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    width: fit-content;
  }

  &__content-container {
    flex: 1 1 50%;
    max-width: 700px;
    text-align: center;
  }

  &__content-supline {
    font-size: 1rem;
    color: color.$text-color-secondary;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__content-headline {
    font-size: font-sizes.$section-title-size;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: color.$text-color-secondary;
  }

  &__content-subline {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #555;
  }

  &__content-text {
    font-size: 1.125rem;
    line-height: 1.6;
    color: color.$text-color-secondary;
    margin-bottom: 2rem;
  }

  &__content-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .button:not(:last-child) {
      margin-right: 0;
    }
  }
}

@include breakpoints.text-media-up {
  .text-media {
    flex-direction: row;
    &__position {
      &--left {
        order: -1;
      }

      &--right {
        order: 1;
      }
    }

    &__flexible{
      max-width: 45%;
    }

    &__links__container {
      margin: 0;
    }

    &__content-container {
      text-align: start;
    }

    &__content-buttons {
      justify-content: flex-start;
    }
  }
}