

$background-color: #D8E2E3;
$header-background-color: #ffffff;
$section-background-color: #A2D7D4;
$card-background-color: #ffffff;
$footer-background-color:#2d3748;




$text-color-primary: #ffffff;
$text-color-secondary: #2d3748;
$text-color-footer: #a0aec0;
$text-color-footer-hover: #4ecdc4;

$red: rgba(255, 107, 107, 0.8);
$green: rgba(134, 239, 172, 0.8);
$blue: rgba(147, 197, 253, 0.8);

$logo-color-1: #FFE371;
$logo-color-2: #A1D6DB;